[submodule "nginx-vod-module"]
	path = nginx-vod-module
	url = https://github.com/kaltura/nginx-vod-module.git
[submodule "nginx-1.18.0"]
	path = nginx-1.18.0
	url = https://github.com/nginx/nginx.git
	branch = branches/stable-1.18.0
[submodule "nginx-1.19.0"]
	path = nginx-1.19.0
	url = https://github.com/nginx/nginx.git
	branch = branches/stable-1.19.0
